.container {
}

.jumbotron {
  background-color: rgb(54, 54, 54);
  color: whitesmoke;
  text-align: center;
}

h1 {
  align-content: center;
}

#leftSide {
  flex-direction: column;
  background-color: lightgrey;
  height: auto;
}

#uvIndex {
  background-color: red;
}

.resultsArea {
  background-color: lightgoldenrodyellow;
  height: auto;
  width: 100px;
}

#rightSide {
  flex-direction: column;
}

.basicCity {
  align-content: space-between;
}

li {
  list-style-type: none;
}

#basicInfo {
}

#cityDate {
  justify-content: left;
}

#cityName {
  font-size: xx-large;
}

.day {
  color: whitesmoke;
  background-color: blue;
}

#fiveDayForecast {
  flex-direction: row;
  justify-content: space-evenly;
}
