.container{
}

.jumbotron{
    background-color: rgb(54, 54, 54);
    color: whitesmoke;
    text-align: center;
}

h1{
    align-content: center;
}

#leftSide{
    flex-direction: column;
    background-color: lightgrey;
    height: auto;
}

.resultsArea{
    background-color: lightgoldenrodyellow;
    height: auto;
    width: 100px;
}

#rightSide{
    flex-direction: column;
}

li{
    list-style-type:none;
}

#basicInfo{
    background-color: lightpink;
}

#cityName{
    font-size: xx-large;
}

#fiveDayForecast{
    background-color: lightsteelblue;
    flex-direction: row;
    justify-content: space-evenly;
}
